* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

body {
    background-color: rgb(223, 220, 214);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


/* الحاوية */

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.text {
    font-size: 20px;
}


/* الصورة */

.container {
    width: 40%;
    height: auto;
    position: relative;
    box-shadow: 0 10px rgba(40, 40, 40 0.5);
}

img {
    height: auto;
    width: 100%;
    border: solid;
}


/* الـ overlay */

.overlay1,
.overlay2,
.overlay3 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    background: black;
    cursor: pointer;
    z-index: 1;
    height: 100%;
}


/* المحتوى */

.content1,
.content2,
.content3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: verdana;
    text-align: center;
    z-index: 2;
}

.overlay1:hover,
.overlay2:hover,
.overlay3:hover {
    opacity: 0.8;
}

h2 {
    font-size: 20px;
    text-align: center;
    color: rgb(26, 26, 36);
}

h1 {
    font-size: 30px;
    text-align: center;
}

.animation {
    position: relative;
}

.animation h1 {
    font-size: 2em;
    position: absolute;
}

.animation h1:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
}

.animation h1:nth-child(2) {
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
    0%,
    100% {
        clip-path: polygon(0 47%, 15% 57%, 25% 59%, 37% 59%, 47% 44%, 60% 46%, 71% 44%, 88% 43%, 100% 43%, 99% 99%, 0% 99%);
    }
    50% {
        clip-path: polygon(0 47%, 15% 48%, 25% 46%, 35% 46%, 50% 57%, 60% 54%, 71% 55%, 86% 54%, 100% 55%, 99% 99%, 0% 99%);
    }
}


/*botton*/

.back-btn {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    padding: 10px 20px;
    background-color: #ccc;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-btn:hover {
    background-color: #0f0;
    color: #fff;
    position: ;
}


/*gotopbtn*/

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: green;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
}