@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300;1,400;1,500;1,600&display=swap');
*{margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
html{
    /* 16px----> 100%
    10px--> (100/16)  *10=62.5% */
    font-size: 62.5%;}

/* ############### HTML ELMENT STYLING ##################### */
body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;

}

ul li{
    list-style: none;
}
a{
    font-size: 1.6rem; 
    /* 1.6 rem=16px */
    text-decoration: none;
}


p, li{
    font-size: 1.6rem;
    margin-bottom: 0.5em; 
    letter-spacing: 0.15em;
}
h1,h2,h3{
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-weight: 500;
}

/* #################ultiliy class ######################### */


.container{
    max-width: 1200px;
    width:90%;
    margin: 0 auto;

}



.lg-heading{
    font-size: 3.5rem;
}
.md-heading{
    font-size: 2.2rem;

}
.text-red{
    color:#e63946;
}
.text-white{
    color: #f4f4f4;
}
.text-black{
    color: #333;
}
.text-grey{
    color: #555;
}


.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: 0.5rem;
    margin: 0.5em;

}
.btn-primary{
    border-radius:100px ;
    background-color: whitesmoke;

}
.btn-primary:hover{
    background-color: #ddd;
}
.btn-secondary{
    border-radius:100px ;
    background-color: whitesmoke;
    border: solid#e63946;

}
.btn-secondary:hover{
    background-color: #ddd;
}

.bg-dark{
    background-color: #263238;
}




/* ################### HEADER STYLING #################### */
.header{
    position: relative;
    height: 95vh;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../img/book\ self\ with\ flying\ book\.jpg');
    
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat ;

}

    
/* .header */
 .nav-bar .logo{
    
  float: left;
  
}
/* .header  */
.nav-bar .logo,
.nav-bar a{
    color: white;}

.nav-bar a:link,
.nav-bar a:visited{
    color: #f4f4f4;
}

/* .header  */
.nav-bar .nav-items{
    float: right;
}
/* .header  */
.nav-bar .nav-item {
  
    /* float: right; */
     display: inline-block;
     padding: 1rem;
     text-transform: uppercase; 
       

}

.nav-bar{
    padding: 1rem;
    /* margin-top: 1rem; */
}

/* .header */ 

 .nav-bar a:hover{

    text-decoration-line: underline;
}

.nav-bar::after{
        content: '';
        display: block;
        clear: both;
    }
/* ################### HEADER CONTENT STYLING  ############### */

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-emphasis-style:strong ;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));

}
.md-heading{
    text-align: center;
}


/* ######################## SHOWCASE SECTION STYLING ######## */
.showcase{
    background: #dddddd;
    padding: 10rem 0;
}
.row{
    height: 350px;
    box-shadow: 0px 0px 20px 0px #aaa;
    
}

.row1{
    margin-bottom: 10rem;
}
.row1 .img-box,
.row2 .text-box{
    float: left;
    width:50% ;
    height: 100%;

}
.row2 .img-box,
.row1 .text-box{
    float: right;
    width:50% ;
    height: 100%;

}
.row .img-box img{
    display: inline-block;
    width:100%;
    height: 100%;
    object-fit: cover;
   
}
.row .text-box{
    padding: 3rem;
    background-color: whitesmoke;
    /* border:  2px solid black; */
}
.row::after{
    content: '';
    display: block;
    clear: both;
}


/* ###################FEATURE SECTION STYLING############ */
.feature{
    padding: 10rem;

}
.box-wrapper{
    box-shadow: 5px 5px 5px 5px black;
    /* box-shadow: 5px 5px 20px 0px black; */
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
}



.box{
    float: left;
    width: 33.333333%;
    height: 100%;

    padding: 2rem;
    text-align: center;

}
.box-wrapper::after{
    content:'';
    display: block;
    clear: both;
}
.box1,
.box3{
    background-color: #263228;
    color: white;

}
.box2{
    background: linear-gradient(25deg,#d64c7f,#ee4758 50%);
    color: white;

}
.footer{
    background-color: #263228;
    padding: 2rem;
    text-align: center;
  
    

}
.social-media-links{
    margin: 2rem 2rem;
}

/* ######################### ABOUT PAGE STYLING ########### */


.about{
    padding: 5rem;
}

.about-heading::after{
    content:'';
    
    display: block;
  
    border: 3px solid #ee4758;  
    width: 100%;

}
div.about-content{
    padding:1.6rem;
    border: 3px solid #ee4758;  
}

/* ################ ABOUT-WRAPPER########### */

.about-wrapper {
   text-align: center;
   margin-top: 2rem;
   

}

.about-wrapper .right{
    float:right;
    width: 50%;
    

}
.about-wrapper .left{
    float:left;
    width: 50%;
    

}
a.about-wrapper::after{
    content: '';
    display: block;
    clear: both;
}
.about-wrapper li::before{
    content: '\2713';
    color: #ee4758;
    font-weight: bold;
    padding-right: 1rem;
}

/* ##########COUNT########### */

.count-item span{
    font-weight: bold;
    color: #ee4758;

}
.count-item{
    float: right;
    width: 25%;
    text-align: center;
    padding-top: 2rem;

}
.count-item::after{
    content: '';
   display: block;
    clear: both;

} 


/* ############################### MEDIA QUIERIS############################### */
@media(max-width:500px){
    html{
        font-size:50%;
    }
    .row{
        height: auto;
        width: 100%;
    }
    .row .img-box,
.row .text-box{
    float: none;
    width: 100%;
    text-align: center;
}
.feature .box{
    float: none;
    width: 100%;
    text-align: center;

}
}

